<template>
    <div class="p-page p-text-white">
        <app-logo className="xl mb-4"></app-logo>
        <h1 class="mb-5">PELUM</h1>
        <p class="h3">Find the hotel that gives you comfort</p>

    </div>
</template>
