<template>
    <section class="p-full-screen p-bg-primary">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-8 col-lg-5">
                <div class="p-page p-text-white">
                    <app-logo className="lg mb-2"></app-logo>
                    <br>
                    <div class="p-form mb-2">
                        <div class="form-group p-form-group">
                            <!-- <app-icon-user class-name="sm p-icon-right-label"></app-icon-user> -->
                            <input type="text" placeholder="Name" class="form-control  on-primary-color">
                        </div>
                        <!-- <br> -->
                        <div class="form-group p-form-group">
                            <!-- <app-icon-user class-name="sm p-icon-right-label"></app-icon-user> -->
                            <input type="date" placeholder="Date of Birth" class="form-control  on-primary-color">
                        </div>
                        <!-- <br> -->
                        <div class="form-group p-form-group">
                            <!-- <app-icon-user class-name="sm p-icon-right-label"></app-icon-user> -->
                            <input type="text" placeholder="Country" class="form-control  on-primary-color">
                        </div>
                        <!-- <br> -->
                        <div class="form-group p-form-group">
                            <!-- <app-icon-user class-name="sm p-icon-right-label"></app-icon-user> -->
                            <input type="text" placeholder="Phone" class="form-control  on-primary-color">
                        </div>
                        <!-- <br> -->
                        
                        <div class="form-group p-form-group">
                            <!-- <app-icon-password class-name="sm p-icon-right-label"></app-icon-password> -->
                            <a href="javascript:void(0)"  @click="togglePassword"><app-icon-eye :class-name="'sm p-icon-left-label ' + showPassword"></app-icon-eye></a>
                            <input id="password" type="password" placeholder="Password" class="form-control  on-primary-color">
                        </div>
                        <!-- <br> -->
                        <div class="form-group p-form-group">
                            <!-- <app-icon-user class-name="sm p-icon-right-label"></app-icon-user> -->
                            <input type="text" placeholder="Email" class="form-control  on-primary-color">
                        </div>
                        <!-- <br> -->
                        <div class="form-group p-form-group">
                            <!-- <app-icon-user class-name="sm p-icon-right-label"></app-icon-user> -->
                            <input type="text" placeholder="Gender" class="form-control  on-primary-color">
                        </div>
                        
                    </div>
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-11 col-sm-9">
                            <button class="btn btn-default btn-block p-bg-white mb-4">SIGN UP</button>
                            <div class="text-center other-links">
                               Already have an account? 
                               <router-link :to="{name: 'login'}" tag="a" href="javascript:void(0)" class="link-secondary hover-color-white">login</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data () {
        return {
            showPassword: 'hide-eye'
        }
    },
    methods: {
        togglePassword () {

            if (this.showPassword === 'hide-eye') {
                $('#password').attr('type', 'text')
                this.showPassword = 'show-eye'
            } else {
                this.showPassword = 'hide-eye'
                $('#password').attr('type', 'password')
            }
        }
    },
    mounted () {
        $('.p-full-screen, .p-page').css({
            minHeight: window.innerHeight
        })
    }
}
</script>
