<template>
    <section class="p-full-screen p-bg-primary p-welcome">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-8 col-lg-5">
                <div class="p-page p-text-white">
                    <app-logo className="xl mb-4"></app-logo>
                    <h1 class="mb-5">PELUM</h1>
                    <p class="h3">Find the hotel that gives you comfort</p>
                    <router-link :to="{name: 'login'}" tag="a" href="javascript:void(0)" class="to-next-page btn">LOGIN</router-link>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    mounted () {
        $('.p-full-screen, .p-page').css({
            minHeight: window.innerHeight
        })
    }
}
</script>
