$primary-color: #662D91 !default;
$primary-light: rgba($primary-color, 0.2);
$primary-dark: #1E033A !default;

$secondary: #FFC857 !default;
$secondary-light: #FFE0A1 !default;
$secondary-lighter: #FFF5A9 !default;

$header-height: 100px;
$header-z-index: 5;