<template>
    <router-link :to="{name: 'hotel'}" tag="div" class="book-list-item" :class="className">
        <img src="/static/img/25.jpg">
        <div class="description">
            <h4 class="name">Viena City Kumasi</h4>
            <h5 class="amount">GHC 120</h5>
        </div>
        <div class="actions">
            <a  class="link" href="javascript:void(0)"><span class="fa fa-minus"></span></a>
        </div>
    </router-link>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>

</style>
