<template>
    <router-link :to="{name: 'hotel'}" tag="div" class="book-list-item" :class="className">
        <img src="/static/img/25.jpg">
        <div class="description">
            <h4 class="name">True Vine Hotel</h4>
            <div>
                <button class="btn rate-stay amount">Rate your stay here</button>
            </div>
        </div>
        <div class="actions">
            <div class="rate">
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>

</style>
