.btn{
    &:hover{
       
    }
    &:focus{
        box-shadow: none;
    }
}

.link-secondary{
    color: $secondary;
    &:hover{
        text-decoration: none;
    }
    &.hover-color-white:hover{
        color: white;
    }
}