.p-main-content{
    margin-left: $header-height * 2.5;
    margin-top: $header-height;

    &.p-search-page{
        margin-top: $header-height;
        @media screen and (max-width: 768px) {
            margin-top: $header-height * 0.7;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: $header-height * 0.7;
        margin-left: 0;
    
        .profile-img{
            height: 100px;
            img{
                height: 120px;
                width: 120px;
                margin-bottom: -80px;
                border: 5px solid white;
                box-shadow: 0 5px 5px rgba(black, 0.3);
            }
        }
    
        .editable-form{
            padding-top: 50px;
            padding-left: 20px;
            .p-form-group{
                margin: 0;
                // display: flex;
                h5{
                    font-size: 15px;
                    margin-right: 5px;
                    // background: red;
                }
                h3{
                    font-size: 17px;
                    // background: yellow;
                    color: $primary-color;
                    border-bottom: 1px solid $secondary;
                    text-align: center;
                }
            }
        }
    
        .booking-section{
            .title{
                padding: 10px 25px;
                font-size: 20px;
            }
            .booking-list{
                padding: 10px 0;
                .book-list-item{
                    padding: 10px 10px;
                    &.separated{
                        &::after{
                            left: 0;
                            right: 0;
                        }
                    }
                    img{
                        width: $header-height * 0.8;
                        height: $header-height * 0.8;
                    }
                    .description{
                        padding: 0 10px;
                        // background: red;
                        .name, .amount{
                            font-size: 15px !important;
                        }
                        .rate-stay{
                            // width: 100%;
                            font-size: 12px !important;
                        }
                    }
                    .actions{
                        width: $header-height * 0.5;
                        height: $header-height * 0.8;
                        // background: blue;
                        .link{
                            width: 30px;
                            height: 30px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    
        .hotel-profile-img{
            height: $header-height * 2;
            .book{
                right: 25px;
                height: 50px;
                width: 50px;
                bottom: -25px;
            }
        }
        .hotel-description{
            padding: 10px;
        }
    
        .hotel-room-types{
            padding: 0 10px;
            h3{
                font-size: 15px;
            }
            .room-type-item{
                margin-top: 10px;
                .p-icon{
                    width: 30px;
                }
            }
        }
    
        .hotel-book-facilities{
            padding: 0 10px;
            .title{
                h3{
                    font-size: 15px;
                }
                .btn{
                    font-size: 13px;
                }
            }
        }
    }
}

.search-section-title{
    padding: 10px 50px;
    @media screen and (max-width: 768px) {
        padding:  10px;
        font-size: 13px;
        margin-bottom: -10px;
    }
}

.profile-img{
    height: 400px;
    width: 100%;
    background: rgba($primary-color, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
}

.editable-form{
    padding: 20px 50px;
    .form-group{
        margin-bottom: 40px;
        .btn{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: 1px 3px 5px rgba(black, 0.2);
            border: 1px solid transparent;
            color: white;
            background: $primary-color;
            &:hover{
                background: $secondary;
                border-color: $primary-color;
            }
            &.save{
                background: $secondary;
            }
            &.cancel{
                background: #ff3d00;
            }
        }
        .form-control{
            border-bottom-color: $primary-color;
            margin-top: 10px;
            padding: 10px;
            // font-weight: bold;
        }
    }
}

.booking-section{
    .title{
        background: rgba($primary-color, 0.25);
        color: white;
        padding: 20px 50px;
    }

    .booking-list{
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
    }

    .book-list-item{
        display: flex;
        padding: 20px 50px;
        &:hover{
            background: rgba($primary-color, 0.25);
            cursor: pointer;
        }
        position: relative;
       &.separated{
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 55px;
                right: 70px;
                background: grey;
                height: 2px;
                // width: 100%;
            }
       }
        img{
            width: $header-height * 1.5;
            height: $header-height * 1.5;
            border-radius: 20px;
            object-fit: cover;
        }
        .description{
            flex-grow: 1;
            // background: red;
            display: flex;
            padding: 0 50px;
            justify-content: space-around;
            flex-direction: column;
            h5{
                color: $secondary;
                font-weight: 80px;
            }
            .rate-stay{
                // width: 30%;
                border-radius: 20px;
                background: $secondary;
                color: $primary-color;
            }
        }
        .actions{
            height: $header-height * 1.5;
            width: $header-height * 1.5;
            display: flex;
            justify-content: center;
            align-items: center;
            .link{
                display: flex;
                height: 50px;
                width: 50px;
                color: $primary-color;
                // font-weight: bold;
                font-size: 25px;
                border: 2px solid $primary-color;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                border-radius: 50%;
                &:hover{
                    border-color: $secondary;
                    color: $secondary;
                }
            }
            .rate{
                width: 100%;
                height: 100%;
                // background: red;
                display: flex;
                justify-content: space-between;
                .star{
                    fill: none;
                    stroke: $primary-color;
                    stroke-width: 10px;
                }
            }
        }
    }
}

.hotel-profile-img{
    height: $header-height * 5;
    width: 100%;
    position: relative;
    .hotel-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .book{
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        right: 100px;
        bottom: -40px;
        color: white;
        background: $primary-color;
    }
}

.hotel-description{
    // background: red;
    padding: 50px;
    display: flex;
    .rate{
        margin-left: 50px;
        // margin-bottom: -10px;
        display: flex;
        align-items: center;
        // background: blue;
    }
}

.hotel-room-types{
    padding: 0px 50px;
    margin-bottom: 50px;
    .room-type-item{
        // height: $header-height * 1.5;
        background: $secondary;
        margin-top: 20px;
        padding: 20px;
        .title{
            display: flex;
            justify-content: space-between;
        }
        .p-icon{
            width: 40px;
        }
    }
}

.hotel-book-facilities{
    padding: 0 50px;
    margin-bottom: 50px;
    .title{
        display: flex;
        justify-content: space-between;
        .book-facility{
            background: transparent;
            border-radius: 0;
            border: 2px solid $primary-color;
            color: $primary-color;
            &:hover{
                background: $secondary;

            }
        }
    }
    .facilities{
        display: flex;
        .item{
            display: flex;
            justify-content: center;
            align-items: center;
            // background: red;
            flex-direction: column;
            margin-right: 5px;
            padding: 10px;
            .p-icon{
                width: 50px;
            }
        }
    }
}

