.p-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $header-z-index;
    background: $primary-color;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);



    .p-logo, .p-search, .p-user{
        flex-grow: 1;
        // margin: 2px;
        // background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @media screen and (max-width: 768px) {
            font-size: 13px;
        }
    }
    .p-logo{
        position: relative;
        .p-icon{
            position: absolute;
            left: $header-height;
        }
        .search-back{
            color: white;
            font-size: 25px;
        }
        @media screen and (max-width: 768px) {
            // background: red;
            flex-grow: unset;
            width: 18%;
            .p-icon{
                height: 60%;
                position: unset;
            }
            .search-back{
                font-size: 15px;
            }
        }
    }
    .p-user{
        a{
            display: block;
            margin-right: 10px;
            color: white;
            text-decoration: none;
            &#toggleSidebar{
                display: none;
            }
            &.advace-search{
                color: $secondary;
                // background: red;
                font-size: 25px;
            }

        }
        .logout{
            margin-left: 20px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            &:hover{
                background: $primary-dark;
            }
        }
        img{
            width: $header-height * 0.7;
            height: $header-height * 0.7;
            border-radius: 50%;
            display: block;
        }
        @media screen and (max-width: 768px) {
            // background: blue;
            width: 35px;
            flex-grow: unset;
            padding-left: 5px;
            a{
                // margin-right: 0;
                display: none;
                &#toggleSidebar, &.advace-search{
                    display: block;
                    font-size: 15px !important;
                    margin-right: 10px;
                }
            }
            img{
                width: $header-height * 0.3;
                margin-right: 10px;
                display: none;
            }
            .logout{
                display: none;
            }
        }
    }
    .p-search{
        position: relative;
        // background: red;
        height: 100%;
        margin: 0;
        
        .search-button{
            position: absolute;
            right: 0;
            bottom: -35px;
            @media screen and (max-width: 768px) {
                bottom: -23px;
                right: 10px;
            }
            .p-icon{
                width: 70px;
                @media screen and (max-width: 768px) {
                    width: 35px;
                }
                &:hover{
                    .search-bg{
                        fill: $primary-color;
                        stroke: $secondary;
                        stroke-width: 5px;
                    }
                    .search-icon{
                        stroke: $secondary;
                    }
                }
            }
        }
        .form-group{
            // background: green;
            margin-top: 15px;
            width: 80%;
            position: relative;
            &.search{
                // background: red;
                width: 100%;
                @media screen and (max-width: 768px){
                    width: 90%;
                }
            }
            .form-control{
                padding: 15px 55px;
                border-radius: 30px;
                border: none;
                // width: 70%;
                background: $primary-dark;
                color: white;
                &::placeholder{
                    color: white;
                    color: grey;
                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                    }
                }
                &:focus{
                    box-shadow: none;
                }
                @media screen and (max-width: 768px) {
                    font-size: 13px;
                    padding: 5px;
                    padding-left: 30px;
                }
            }
            .location{
                position: absolute;
                left: 10px;
                top: 10px;
                width: 36px;
                @media screen and (max-width: 768px) {
                    width: 20px;
                    top: 5px;
                    left: 5px;
                }
            }
            @media screen and (max-width: 768px) {
                width: 95%;
            }
        }

        .info{
            color: white;
            // background: red;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .back-button{
                color: white;
                font-size: 30px;
            }
            .name{
                // background: yellow;
                flex-grow: 1;
                text-align: center;
            }
        }
        @media screen and (max-width: 768px) {
            justify-content: flex-start;
            .info{
                padding-left: 20px;
                .back-button{
                    font-size: 20px;
                }
                .name{
                    font-size: 15px;
                    height: 100%;
                    // background: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        height: $header-height * 0.7;
    }
}