.p-icon{
    width: 75px;
    &.xs{
        width: 20px;
        @media screen and (max-width: 768px) {
            width: 10px;
        }
    }
    &.sm{
        width: 40px;
        @media screen and (max-width: 768px) {
            width: 20px;
        }
    }
    &.md{
        width: 80px;
    }
    &.lg{
        width: 150px;
        @media screen and (max-width: 768px) {
            width: 70px;
        }
    }
    &.xl{
        width: 200px;
        @media screen and (max-width: 768px) {
            width: 100px;
        }
    }
    &.xxl{
        width: 500px;
        @media screen and (max-width: 768px) {
            width: 250px;
        }
    }
    &.show-eye{
        .password-stroke{
            visibility: visible;
        }
    }
    &.hide-eye{
        .password-stroke{
            visibility: hidden;
        }
    }
}