.p-form-group{
    // border: 1px solid white;
    // background: green;
    position: relative;
    .form-control{
        background: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        padding-left: 60px;
        padding-right: 60px;
        &.on-primary-color{
            border-bottom-color: white;
            color: white;
            &::placeholder{
                color: lightgrey;
            }
        }
        &:focus{
            box-shadow: none;
        }
        &.valid{
            border-bottom-color: green !important;
        }
        &.in-valid{
            border-bottom-color: red !important;
        }

        @media screen and (max-width: 768px) {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 13px;
            border-bottom: 1px solid white;
        }
    }
    .p-icon-right-label{
        position: absolute;
        left: 0;
        bottom: 10px;
    }
    .p-icon-left-label{
        position: absolute;
        bottom: 10px;
        right: 0;
        cursor: pointer;
    }
}