html, body{
    overflow-x: hidden;
}
html{
    // background: $primary-color;
}
.p-full-screen{
    width: 100%;
    &.p-welcome{
        position: relative;
        background: url(/static/img/welcome.jpg) no-repeat;
        background-size: cover;
        background-position: 60%;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba($primary-color, 0.8);
        }
    }
}
.p-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .h3{
        font-weight: normal;
    }
    .title{
        @media screen and (max-width: 768px) {
            font-size: 20px;
            margin-bottom: 15px !important;
        }
    }
    .to-next-page{
        color: green;
        text-decoration: none;
        position: absolute;
        bottom: 100px;
        animation: bounce 1.5s ease-in-out infinite;
        background: transparent;
        border: 2px solid white;
        color: white;
        border-radius: 0;
        padding: 10px 30px;
        &:hover{
            color: $primary-color;
            background: white;
        }
    }
    .p-form{
        width: 100%;
        .form-group{
            margin-bottom: 40px;
            @media screen and (max-width: 768px) {
                margin-bottom: 15px;
            }
        }
    }
    .other-links{
        font-size: 20px;
    }
    
    @media screen and (max-width: 768px) {
        font-size: 12px;
        .btn-block{
            font-size: 13px;
        }
        .other-links{
            font-size: 14px;
        }
    }
}