.p-sidebar{
    position: fixed;
    left: 0;
    top: $header-height;
    bottom: 0;
    width: $header-height * 2.5;
    background: white;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.4);
    
    -moz-transition: margin-left 0.25s ease-in;
    -o-transition: margin-left 0.25s ease-in;
    -webkit-transition: margin-left 0.25s ease-in;
    transition: margin-left 0.25s ease-in;

    .user{
        display: none;
        width: 100%;
        height: 100px;
        background: $secondary;
        // display: flex;
        justify-content: center;
        align-items: center;
        // padding: 10px 20px;
        color: $primary-color;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }
    }
    .nav-links{
        height: 100%;
        width: 100%;
        // background: red;
        overflow-x: hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .nav-link{
            color: grey;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 20px;
            .p-icon{
                height: 50px;
                margin-bottom: 5px;
            }
            &:hover, &.active{
                background: rgba($primary-color, 0.25);
                color: $primary-color;
                .p-icon .nav-icon{
                    fill: $primary-color;
                }
            }
            .fa{
                font-size: 50px;
            }
            
        }
    }

    @media screen and (max-width: 768px) {
        // box-shadow: 10px 0 50px rgba(0, 0, 0, 0.3);
        // top: $header-height * 0.7;
        // width: $header-height * 3;
        top: 0;
        z-index: $header-z-index * 1.2;
        .nav-links{
        //    border-right: 2px solid $primary-color;
        }
        .nav-link{
            // background: red;
            padding: 10px;
            .p-icon{
                height: 30px !important;
            }
            .fa{
                font-size: 30px !important;
            }
        }
        .user{
            display: flex;
        }
        margin-left: $header-height * -2.7;
        &.open{
            margin-left: 0;
        }
        background: $secondary-lighter;
    }
}