<template>
    <section class="p-main-content">
        <div class="profile-img">
            <img src="/static/img/my_avatar.jpg">
        </div>
       <div class="editable-form">
            <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-group p-form-group">
                    <h5>Name</h5>
                    <input value="Aaron Sanyuo" v-if="editable" class="form-control h3" type="text" placeholder="Name">
                    <h3 v-else>Aaron Sanyuo</h3>
                </div>
                <div class="form-group p-form-group">
                    <h5>Gender</h5>
                    <input value="Male" v-if="editable" class="form-control h3" type="text" placeholder="Gender">
                    <h3 v-else>Male</h3>
                </div>
                <div class="form-group p-form-group">
                    <h5>Payment</h5>
                    <h3>Aaron Sanyuo</h3>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group p-form-group">
                    <h5>Date Of Birth</h5>
                    <input value="January 26, 1993" v-if="editable" class="form-control h3" type="text" placeholder="Date of Birth">
                    <h3 v-else>January 26, 1993</h3>
                </div>
                <div class="form-group p-form-group">
                    <h5>Email</h5>
                    <input value="asanyuo@gmail.com" v-if="editable" class="form-control h3" type="text" placeholder="Email">
                    <h3 v-else>asanyuo@gmail.com</h3>
                </div>
                <div class="form-group p-form-group">
                    <h5>Phone</h5>
                    <h3>Send SMS Confirmation</h3>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group p-form-group">
                    <h5>Country</h5>
                    <input value="Ghana" v-if="editable" class="form-control h3" type="text" placeholder="Country">
                    <h3 v-else>Ghana</h3>
                </div>
                <div class="form-group p-form-group">
                    <h5>Phone</h5>
                    <input value="+233 24 656 1234" v-if="editable" class="form-control h3" type="text" placeholder="Phone">
                    <h3 v-else>+233 24 656 1234</h3>
                </div>
                <div class="form-group">
                    <button class="btn" @click="editForm(true)" v-if="editable === null"><span class="fa fa-pen"></span></button>
                    <button class="btn save" v-if="editable"><span class="fa fa-save"></span></button>
                    <button class="btn cancel" v-if="editable" @click="editForm(null)"><span class="fa fa-times"></span></button>
                </div>
            </div>
        </div>
       </div>
    </section>
</template>

<script>
export default {
    data () {
        return {
            editable: null
        }
    },
    methods: {
        editForm(shouldEdit) {
            this.editable = shouldEdit
        }
    }
}
</script>

<style>

</style>
