<template>
    <div class="p-main-content p-search-page container">
        <section class="booking-section">
            <h3 class="search-section-title">Recommended</h3>
            <div class="booking-list">
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal></app-book-item-normal>
            </div>
        </section>
    </div>
</template>
