<template>
    <header class="p-header">
        <div class="p-logo">
            <a @click="$router.go(-1)" href="javascript:void(0)" class="search-back">
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="p-search">
            <div class="form-group search">
                <!-- <app-icon-location class-name="sm location"></app-icon-location> -->
                <input type="text" placeholder="Examination Hall, KNUST" class="form-control">
            </div>
            <!-- <a href="javascript:void(0)" class="search-button"><app-icon-search class-name="md"></app-icon-search></a> -->
        </div>
        <div class="p-user">
            <router-link :to="{name: 'advanced_search'}" tag="a" href="javascript:void(0)" class="advace-search">
                <span class="fa fa-random"></span>
            </router-link>
            <a href="javascript:void(0)" class="logout">
                <span class="fa fa-power-off"></span>
            </a>
        </div>
    </header>
</template>

<script>

export default {
    computed: {
        showBackButton () {
            let name = this.$route.name
            if (name === 'hotel') return true
        }
    },
    methods: {
        toggleSideBar () {
            let icon = $('#toggleSidebar .fa')
            let sidebar = $('.p-sidebar')
            
            if (sidebar.hasClass('open')) {
                sidebar.removeClass('open')
                icon.removeClass('fa-times')
                icon.addClass('fa-bars')
            } else {
                sidebar.addClass('open')
                icon.removeClass('fa-bars')
                icon.addClass('fa-times')
            }
        }
    }
}
</script>

<style>

</style>
