<template>
    <header class="p-header">
        <div class="p-logo">
            <app-logo class-name="md"></app-logo>
        </div>
        <div class="p-search">
            <div class="form-group">
                <app-icon-location class-name="sm location"></app-icon-location>
                <input type="text" placeholder="Examination Hall, KNUST" class="form-control">
            </div>
            <router-link :to="{name: 'normal_search'}" tag="a" href="javascript:void(0)" class="search-button">
                <app-icon-search class-name="md"></app-icon-search>
            </router-link>
        </div>
        <div class="p-user">
            <a href="javascript:void(0)">Aaron</a>
            <img src="/static/svg/myaccountgrey.svg">
            <a href="javascript:void(0)" class="logout">
                <span class="fa fa-power-off"></span>
            </a>
            <a id="toggleSidebar" @click="toggleSideBar" href="javascript:void(0)">
                <span class="fa fa-bars">
            </span></a>
        </div>
    </header>
</template>

<script>

export default {
    computed: {
        showBackButton () {
            let name = this.$route.name
            if (name === 'hotel') return true
        }
    },
    methods: {
        toggleSideBar () {
            let icon = $('#toggleSidebar .fa')
            let sidebar = $('.p-sidebar')
            
            if (sidebar.hasClass('open')) {
                sidebar.removeClass('open')
                icon.removeClass('fa-times')
                icon.addClass('fa-bars')
            } else {
                sidebar.addClass('open')
                icon.removeClass('fa-bars')
                icon.addClass('fa-times')
            }
        }
    }
}
</script>

<style>

</style>
