<template>
    <div class="main-app">
        <app-header v-if="!showBackButton"></app-header>
        <app-header-hotel v-if="showBackButton"></app-header-hotel>
        <app-header-normal-search v-if="showNormalSearch"></app-header-normal-search>
        <app-sidebar></app-sidebar>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    computed: {
        showBackButton() {
            if (this.$route.name === 'hotel') return true
        },
        showNormalSearch () {
            if (this.$route.name === 'normal_search') return true
        }
    }
}
</script>

<style>

</style>
