<template>
    <div class="main-app">
        <app-header-advanced-search v-if="isAdvacedSearch"></app-header-advanced-search>
        <app-header-normal-search v-if="!isAdvacedSearch"></app-header-normal-search>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    computed: {
        isAdvacedSearch () {
            return this.$route.name === 'advanced_search'
        }
    }
}
</script>

<style>

</style>
