<template>
    <aside class="p-sidebar">
        <div class="user">
            <img src="/static/img/my_avatar.jpg">
            <span>Ahmed Dawuda</span>
        </div>
        <nav class="nav-links">
            <router-link :to="{name: 'home'}" tag="a" active-class="active" class="nav-link" href="javascript:void(0)">
                <app-icon-home class-name="md"></app-icon-home>
                <span>Home</span>
            </router-link>
            <router-link :to="{name: 'my_bookings'}" active-class="active" tag="a" class="nav-link" href="javascript:void(0)">
                 <app-icon-book class-name="md"></app-icon-book>
                <span>My Bookings</span>
            </router-link>
            <router-link :to="{name: 'my_account'}" tag="a" class="nav-link" href="javascript:void(0)" active-class="active">
                 <app-icon-account class-name="md"></app-icon-account>
                <span>My Account</span>
            </router-link>
            <router-link :to="{name: 'login'}" tag="a" class="nav-link" href="javascript:void(0)">
                <span class="fa fa-power-off mb-2"></span>
                <span>Log Out</span>
            </router-link>
        </nav>
    </aside>
</template>

<script>
export default {

}
</script>

<style>

</style>
