<template>
    <section class="p-main-content">

        <section class="booking-section">
            <h3 class="title">Nearby</h3>
            <div class="booking-list">
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal :class-name="'separated'"></app-book-item-normal>
                <app-book-item-normal></app-book-item-normal>
            </div>
        </section>

        <section class="booking-section">
            <h3 class="title">History</h3>
            <div class="booking-list">
                <app-book-item-history :class-name="'separated'"></app-book-item-history>
                <app-book-item-history :class-name="'separated'"></app-book-item-history>
                <app-book-item-history></app-book-item-history>
            </div>
        </section>

    </section>
</template>
