<template>
    <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <path fill="#666" class="nav-icon" d="M50.5 52.4c17.8 0 32.4 13.3 34.4 30.5 8-8.5 12.9-19.9 12.9-32.5C97.8 24.2 76.6 3 50.4 3 24.3 3.1 3.1 24.3 3.1 50.4 3.1 63 8 74.4 16 82.9c2.1-17.2 16.7-30.5 34.5-30.5z"/>
  <path fill="#666" class="nav-icon" d="M50.5 97.8c13.6 0 25.8-5.8 34.4-14.9-2.1-17.2-16.7-30.5-34.4-30.5-17.8 0-32.4 13.3-34.4 30.5 8.6 9.2 20.8 14.9 34.4 14.9z"/>
  <path fill="#FFF" d="M50.5 97.8c13.6 0 25.8-5.8 34.4-14.9-2.1-17.2-16.7-30.5-34.4-30.5-17.8 0-32.4 13.3-34.4 30.5 8.6 9.2 20.8 14.9 34.4 14.9z"/>
  <circle fill="#FFF" cx="50.5" cy="32.9" r="13.6"/>
</svg>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>

</style>
