<template>
    <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <g fill="#666"  class="nav-icon">
    <path d="M15 12H4v86h86V88H15z"/>
    <path d="M22 2v79h75V2H22zm54 58.5L60.5 49.3 45 60.5V23h31v37.5z"/>
  </g>
</svg>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>

</style>
