<template>
   <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <path fill="none" stroke="#FFF" stroke-width="5" stroke-miterlimit="10" d="M95.2 49.8c0 11.7-24.6 27.5-45 27.5-19 0-45-15.8-45-27.5 0-13.1 24.7-27.5 45-27.5 20.7 0 45 17.8 45 27.5z"/>
  <circle fill="#FFF" cx="50.2" cy="49.8" r="10.5"/>
  <path class="password-stroke" fill="none" stroke="#FFF" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" d="M77.3 9.4L22.5 90.7"/>
</svg>
</template>
<script>
export default {
    props: ['className']
}
</script>
