<template>
    <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <path fill="#666" class="nav-icon" d="M50.9 8.8L2.1 46.2H14V91h20V57h29v34h20V46l16-.1z"/>
</svg>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>

</style>
