<template>
    <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <g fill="#FFF">
    <circle cx="50.8" cy="51.3" r="24.8"/>
    <path d="M95 50h-5.1C89.5 30 73 14 53 12.3V5.4c0-1.1-.9-2-2-2s-2 .9-2 2v6.8C28 12.6 12.1 30 11.7 50H5c-1.1 0-2 .9-2 2s.9 2 2 2h6.9C13.5 75 32 90 49 90.4v5.1c0 1.1.9 2 2 2s2-.9 2-2v-5.2C73 88.7 88.2 75 89.8 54H95c1.1 0 2-.9 2-2s-.8-2-2-2zM53.7 86.2c-.4-.6-1-.9-1.7-.9-.8 0-1.4.4-1.8 1.1-19.1-.3-34.5-15.9-34.5-35 0-19.3 15.7-35 35-35 19.1 0 34.7 15.4 35 34.5-.6.4-1 1-1 1.7s.4 1.3.9 1.7c-1.3 16.9-14.9 30.5-31.9 31.9z"/>
  </g>
</svg>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>

</style>
