<template>
<svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <path class="pelum" fill="#FFF" d="M50.7 2.2C24.3 2.2 3 23.6 3 50s21.4 47.8 47.8 47.8S98.5 76.4 98.5 50 77.1 2.2 50.7 2.2zm0 85.8c-21 0-38-17-38-38s17-38 38-38 38 17 38 38-17 38-38 38z"/>
    <path fill="#FFF" d="M38 56.9V76h11.5v-7.5c0-3.2 2.6-5.7 5.7-5.7 3.2 0 5.7 2.6 5.7 5.7V76h11.5V56.9H38zM78.2 52.4l-46 .2 19.9-13.9c1.8-1.3 4.2-1.3 6 0l20.1 13.7zM26.4 31.1h-1.2c-.1.1-.3.1-.4 0-.3-.1-.6-.1-.9-.2-.2 0-.4-.1-.5-.4.1-.4.5-.5.7-.7.2-.2.5-.3.7-.3.5-.1.9-.3 1.4-.4l.6-.3c.1 0 .3-.1.4-.1.5-.1.9-.1 1.4-.2h1c.2 0 .5 0 .7.1.4 0 .7.1 1.1.2.2 0 .3.1.5.1l.9.3c.2.1.3.1.5.2.3.1.5.3.8.4.1.1.3.2.4.3.2.2.4.3.7.5-.1-.4-.3-.7-.4-1-.1-.1-.1-.3-.2-.4-.2-.3-.3-.6-.5-.8-.1-.2-.2-.3-.3-.5-.1-.2-.4-.4-.5-.7-.1-.1-.2-.3-.3-.4-.2-.2-.4-.5-.6-.7-.1-.1-.2-.3-.3-.4-.2-.2-.4-.4-.6-.7-.1-.1-.2-.3-.3-.4-.2-.2-.4-.5-.6-.7-.1-.1-.2-.2-.1-.4 0-.2.2-.3.3-.4.1-.2.3-.1.5 0 .3.1.6.1.9.2.2 0 .4 0 .5.2.2.1.5.2.7.4.2.1.4 0 .4.3.2.2.4.4.7.6.2.1.3.2.3.3.2.3.4.5.6.8.2.1.2.2.2.4.1.3.3.6.4.9.3.1.1.5.3.7.1.4.3.8.3 1.2.1.2.1.5.2.7 0 .1.1.1.1 0 .3-2.5 1.1-4.7 3.4-6 .1-.1.2-.1.3-.2.2-.3.5-.3.8-.3.4-.1.9-.2 1.3-.3.3-.2.6 0 1-.1h.8c.1-.1.3-.1.4 0 .4.1.7.1 1.1.2.2.1.1.3.1.5l-.2.2c-.2.2-.5.3-.7.4-.7.3-1.3.6-1.9 1-.4.2-.8.5-1.1.8-1.3 1.1-2.2 2.4-3 4-.1.3-.2.5-.3.8v.2c.2-.1.3-.3.5-.4.7-.6 1.4-1.1 2.3-1.5.3-.2.6-.3 1-.3.4-.1.8-.2 1.3-.3.1-.1.3-.2.5-.1h1.2c.1-.1.3-.1.4 0 .4.1.7.2 1.1.2.1 0 .2 0 .3.1.3.1.6.2.9.4.2 0 .3.1.4.2.3.2.5.3.8.5.1 0 .2.1.3.2.3.2.5.4.8.6.2 0 .2.2.3.3.2.2.4.4.6.7.2.1.2.3.2.5-.1.2-.2.3-.4.3s-.3-.1-.5-.1c-.2-.1-.5-.2-.7-.3-.2-.1-.4-.1-.6-.2-.3-.1-.6-.2-1-.2-.2 0-.3-.1-.5-.1-.3 0-.5-.1-.8-.1-.2 0-.4-.1-.6-.1H46c-.5 0-.9 0-1.4.1-.2 0-.5.1-.7.1-.2 0-.3.1-.5.1-.5 0-1 .2-1.4.3l-.9.3c-.7.2-1.3.5-1.8.7.3-.1.8-.1 1.2 0 .2 0 .4 0 .6.1.3.1.6.1.9.2.2.1.4.1.6.2.3.1.6.3.9.4.1.1.2.2.4.2.2.2.5.3.7.5.1.1.3.2.4.4l.6.6c.1.1.2.2.2.3.2.3.4.6.5.8.1.1.2.3.2.4.1.3.3.6.4.9 0 .2.1.4.1.6 0 .2-.1.4-.4.5-.2.1-.3 0-.4-.1-.3-.2-.5-.4-.8-.6-.1 0-.3-.1-.4-.2-.2-.2-.5-.4-.7-.5-.1-.1-.2-.2-.4-.3-.2-.2-.5-.4-.7-.5-.1-.1-.2-.2-.4-.3-.2-.2-.5-.3-.7-.4-.1-.1-.3-.2-.4-.3-.2-.2-.5-.3-.8-.4-.1-.1-.3-.1-.4-.2-.3-.1-.6-.2-.9-.2h-.1c-.7-.1-.7-.1-.5.6.1.3.2.6.4 1 .1.3.2.5.3.8.1.3.2.5.3.8l.3.9.3.9c0 .2.1.4.1.5.1.4.2.8.3 1.1 0 .2.1.4.1.5.1.4.1.8.3 1.2 0 .4 0 .8.1 1.2-.3.3-.7.6-1 .9-.2.2-.2.1-.3-.1-.2-.3 0-.7-.2-1 0-.2-.1-.4-.1-.6-.1-.2-.2-.4-.1-.6-.1-.4-.2-.9-.3-1.3-.2-.1 0-.4-.2-.6 0-.4-.2-.7-.3-1.1-.1-.1-.2-.2-.1-.4-.1-.4-.2-.8-.4-1.2-.2-.1 0-.4-.2-.6-.1-.3-.2-.7-.3-1-.2-.1-.1-.3-.2-.5-.1-.4-.2-.7-.4-1-.2-.2-.2-.1-.3.1-.9 1.4-1.8 2.7-3 3.8-.1.1-.3.3-.5.3-.6.5-1.3 1.1-1.9 1.6-.2.1-.3.3-.6.2-.1 0-.2-.1-.1-.2.2-1 .6-1.9 1-2.8.2-.7.6-1.3 1.1-1.8.7-.8 1.3-1.6 2.2-2-.2 0-.5.1-.7.2-.3.2-.6 0-.9.1-.4.1-.9.2-1.3.4-.2.2-.5.3-.8.3-.6.2-1.1.4-1.6.6-.2.3-.6.3-.9.4-.6.2-1.1.4-1.6.7-.2.2-.5.4-.8.4-.5.1-.6 0-.4-.7 0-.6.3-1 .6-1.4.3-.5.6-1 1-1.4.3-.4.7-.7 1.1-1 .5-.3 1.1-.5 1.6-.6.2 0 .3-.1.5-.1.3 0 .6-.1 1-.1.3.1.5 0 .7 0 .6 0 1.1.1 1.7.2-.4-.3-.7-.5-1-.7-.1-.1-.3-.2-.5-.2-.3-.1-.5-.3-.8-.4-.2-.1-.4-.1-.6-.2-.3-.1-.6-.1-.8-.2-.2 0-.4 0-.6-.2-.4-.1-.8-.1-1.2 0-.1.1-.3.2-.5 0-.5 0-1 .1-1.4.2-.5.3-.6.3-.7.2z"/>
</svg>
</template>
<script>
export default {
    props: {
        className: {
            type: String
        }
    }
}
</script>

