<template>
    <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <g fill="#FFF">
    <path d="M48.9 69.7h7.5v7.5h-7.5z"/>
    <path d="M50.6 2.2c-22.2 0-40 18.1-40 40.2v56h79.9v-56c0-22.2-17.7-40.2-39.9-40.2zm9.8 79H44.9V65.7h15.5v15.5zm18.7-30.7H22v-8.1c0-15.6 13-28.2 28.6-28.2s28.6 12.7 28.6 28.2v8.1z"/>
  </g>
</svg>
</template>
<script>
export default {
    props: ['className']
}
</script>

