<template>
    <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <circle class="search-bg" fill="#F5B648" cx="50.8" cy="50.5" r="47.3"/>
  <g class="search-icon" fill="none" stroke="#662D8D" stroke-width="5" stroke-miterlimit="10">
    <circle cx="48.4" cy="46.3" r="17"/>
    <path stroke-linecap="round" d="M59 60.8l13 13"/>
  </g>
</svg>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>
</style>
