<template>
    <svg class="p-icon" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <path class="star" fill="#662D8D" d="M80.3 96.4L50.2 80.5 20.1 96.2l5.8-33.5L1.6 38.9l33.7-4.8L50.4 3.7l15 30.5 33.6 5-24.4 23.7z"/>
</svg>
</template>

<script>
export default {
    props: ['className']
}
</script>

<style>

</style>
