<template>
<svg class="p-icon"  :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <g fill="#FFF">
    <circle cx="50.2" cy="26.1" r="22.7"/>
    <path d="M95.2 96H5.3c0-27 20.1-44.9 44.9-44.9s45 17.9 45 44.9z"/>
  </g>
</svg>
</template>

<script>
export default {
    props: {
        className: {
            type: String
        }
    }
}
</script>