<template>
    <div class="p-main-content">
        <div class="hotel-profile-img">
            <img class="hotel-img" src="/static/img/25.jpg">
            <button class="btn book"><span class="fa fa-plus"></span></button>
        </div>
        <div class="hotel-description">
            <h3>2km</h3>
            <div class="rate">
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
                <app-icon-star class-name="xs"></app-icon-star>
            </div>
        </div>
        <div class="hotel-room-types">
            <h3>Room Type</h3>
            <div class="room-type-item">
                <div class="title">
                    <h3>Regular</h3>
                    <h5>GHC 100</h5>
                </div>
                <p>Features</p>
                <div class="facilities">
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                </div>
            </div>
            <div class="room-type-item">
                <div class="title">
                    <h3>Economy</h3>
                    <h5>GHC 320</h5>
                </div>
                <p>Features</p>
                <div class="facilities">
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                </div>
            </div>
            <div class="room-type-item">
                <div class="title">
                    <h3>Regular</h3>
                    <h5>GHC 539</h5>
                </div>
                <p>Features</p>
                <div class="facilities">
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                    <app-icon-account></app-icon-account>
                </div>
            </div>
        </div>

        <div class="hotel-book-facilities">
            <div class="title">
                <h3>Facilities</h3>
                <button class="btn book-facility">BOOK FACILITY</button>
            </div>
            <div class="facilities">
                <div class="item">
                    <app-icon-account></app-icon-account>
                    <span>Facility Name</span>
                </div>
                <div class="item">
                    <app-icon-account></app-icon-account>
                    <span>Facility Name</span>
                </div>
                <div class="item">
                    <app-icon-account></app-icon-account>
                    <span>Facility Name</span>
                </div>
                <div class="item">
                    <app-icon-account></app-icon-account>
                    <span>Facility Name</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
