<template>
    <!-- <transition enter-active-class="animated slideInUp" leave-active-class="animated slideOutUp"> -->
      <router-view/>
    <!-- </transition> -->
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
</style>
